
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-4 mb-4 ms-auto">
          <div>
            <a href="/">
              <h6 class="text-gradient text-primary font-weight-bolder text-center">Innovation-X Team Formation Tool</h6>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6 mb-4">
          <div>
            <a href="https://innox.berkeley.edu/">
              <h6 class="text-gradient text-primary font-weight-bolder text-center">An Innovation X Website</h6>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6 mb-4 me-auto">
          <div>
            <a href="{% url 'upload-teams' %}">
              <h6 class=" text-gradient text-primary font-weight-bolder text-center">Forming Teams</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
