{% extends 'layouts/base-presentation.html' %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

  <header class="header-2">
    <div class="page-header section-height-75 relative" style="background-image: url('/static/assets/img/curved-images/curved.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">
              Team Formation Engine
            </h1>
            <p class="lead text-white mt-3">
              Form optimal teams for your project-based courses and events <b>instantly</b>.
            </p>
            <a href="{% url 'upload-teams' %}" class="btn btn-cta mb-0 me-2" target="_blank">Start Forming Teams</a>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header>
  <section class="pt-3 pb-4" id="count-stats">
    <div class="container" id="stats">
      <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"> <span id="state1" countTo="30"></span>s</h1>
                <h5 class="mt-3">To generate teams</h5>
                <p class="text-sm">Eliminate the stress and time of manually forming teams.</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"> <span id="state2" countTo="{{downloads}}">0</span></h1>
                <h5 class="mt-3">Results downloaded!</h5>
                <p class="text-sm">Download results in Excel, CSV, or PDF format.</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary">Free</h1>
                <h5 class="mt-3">Forever.</h5>
                <p class="text-sm">This team formation tool is available to all at no cost.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FIND THE FOLLOWING SECTIONS IN LEGACY.html -->

  <!-- HOW IT WORKS -->
  <section class="py-5" id = "Tutorial">
    <div class="container">
      <div class="row">
        <div class="row text-center my-sm-5 mt-5">
          <div class="col-lg-6 mx-auto">
            <h2 class="text-primary text-gradient mb-0">How it works</h2>
            <!-- <h2 class="">With our coded pages</h2>
            <p class="lead">The easiest way to get started is to use one of our <br /> pre-built example pages. </p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- 3 STEPS -->
    <div class="container mt-3">
      <div class="row">
        <!-- STEP 1 -->
        <div class="col-md-4 mx-auto mt-md-0 mt-3">
          <div class="" style="top:100px !important">
            <h4 class="">Step 1: Gather basic information about the participants.</h4>
            <h6 class="text-secondary">This will be used by our algorithm to form the best possible teams, depending on your objective.
              <br> You can use any of our templates below, or your own.
            <br><i> Make sure to use numeric values for each of the characteristics you are trying to measure. We recommand using Google Form to gather the information.</i></h6>
          </div>
        </div>
        <!-- STEP 2 -->
        <div class="col-md-4 mx-auto mt-md-0 mt-3">
          <div class="" style="top:100px !important">
            <h4 class="">Step 2: Upload your data and fill out our 30-second questionnaire.</h4>
            <h6 class="text-secondary"> Once you have uploaded the data obtained during Step 1, you will be prompted some questions that will help the algorithm determine the best team for you.
            <br><i>You will be asked your ideal team size, and whether you want some characteristics to be similar across the teammates, different, or simply ignored.</i></h6>
          </div>
        </div>
        <!-- STEP 3 -->
        <div class="col-md-4 mx-auto mt-md-0 mt-3">
          <div class="" style="top:100px !important">
            <h4 class="">Step 3: Download and share the results.</h4>
            <h6 class="text-secondary">You can select to download the final team results in a PDF, CSV, or MS Excel format.</h6>
          </div>
        </div>
      </div>
      <div class="text-center">
      <a href="{% url 'upload-teams' %}" class="btn btn-primary mb-0 me-2 cta" target="_blank">Get Started</a>
      </div>
    </div>
  <!-- TEMPLATES -->
    <div class="container" id = "Template">
      <div class="row">
        <div class="row text-center my-sm-5 mt-5">
          <div class="col-lg-6 mx-auto">
            <h2 class="text-primary text-gradient mb-0">Our templates</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- TEMPLATES’ LINKS -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-auto">
          <div class="row">
            <div class="col-md-4 mt-md-0 mt-3">
              <a href="/media/media/project-first-msexcel.xls">
                <div class="card move-on-hover">
                  <img class="w-100" src="/media/media/data-science-carlos-muza-unsplash.jpg" alt="">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Project First (MS Excel) <a href="/media/media/project-first-csv.csv">(CSV Version)</a></h6>
                  <p>In the project first approach, participants enter their ranked preferences for a list of projects. Our "Project First" algorithm will then optimize the teams to maximize the participants’ preferences.</p>
                </div>
              </a>
            </div>
            <div class="col-md-4 mt-md-0 mt-3">
              <a href="/media/media/team-first-msexcel.xlsx">
                <div class="card move-on-hover">
                  <img class="w-100" src="/media/media/data-science-lukas-blazek-unsplash.jpg" alt="" href>
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Team First (MS Excel) <a href="/media/media/team-first-csv.csv">(CSV Version)</a></h6>
                  <p>In the team first approach, participants answer some behavioral questions. Our "Team First" algorithm will then optimize the teams to either favor diversity or similarity for each characteristics.</p>
                </div>
              </a>
            </div>
            <div class="col-md-4 mt-md-0 mt-3">
              <a href="https://docs.google.com/forms/d/1E2t3uM5Sx4aBhSd4c9tmCmu9TmamQdYhOSUyVZHDcEo/copy" target="_blank">
                <div class="card move-on-hover">
                  <img class="w-100" src="/media/media/data-science-form-2.png" alt="">
                </div>
                <div class="mt-2 ms-2">
                  <h6 class="mb-0">Team Formation Survey (Team First) <a href="https://docs.google.com/forms/d/1_z2KVxO8_3H7QYz4HQXb6rzqZz-tlk1Y4HDdVadFR6k/copy">(Project First)</a></h6>
                  <p>We recommend using Google Forms to easily generate the results in a CSV or MSExcel format. The questions provided in this survey can be adapted to your own requirements. Note that only numerical answers will be considered for both algorithms.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

  <!-- <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ms-auto">
          <h4 class="mb-1">Thank you for your support!</h4>
          <p class="lead mb-0">We deliver the best web products</p>
        </div>
        <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-right mt-5">
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Design%20System%20made%20by%20%40CreativeTim%20%23webdesign%20%23designsystem%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-design-system" class="btn btn-info mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-design-system" class="btn btn-primary mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1"></i> Share
          </a>
          <a href="https://www.pinterest.com/pin/create/button/?url=https://www.creative-tim.com/product/soft-ui-design-system" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-pinterest me-1"></i> Pin it
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="/static/assets/js/plugins/countup.min.js"></script>
  <script src="/static/assets/js/plugins/choices.min.js"></script>
  <script src="/static/assets/js/plugins/rellax.min.js"></script>
  <script src="/static/assets/js/plugins/tilt.min.js"></script>
  <script src="/static/assets/js/plugins/choices.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>

{% endblock javascripts %}
