<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PDF Output</title>
    <style media="screen">
      @page {
        size: 'A4';
        margin: 2.5cm 1.5cm 3.5cm 1.5cm;

        @top-center {
          content: "COMPANY NAME";
        }
      }
    </style>
  </head>
  <body>
    <h2> Final Teams </h2>
    <table>
      <thead>
        <tr>
          <th> Email </th>
          <th> Team </th>
        </tr>
      </thead>
      <tbody>
         {% for row in data %}
         <tr>
           <td>{{forloop.counter}}</td>
           <td>{{row}}</td>
         </tr>
         {% endfor %}
      </tbody>
    </table>
  </body>
</html>
