{% extends 'layouts/base-presentation.html' %}


{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}

  <header class="header-2">
    <div class="page-header section-height-50 relative" style="background-image: url('/static/assets/img/uc-berkeley-campus.jpeg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5" style="text-shadow: 1px 1px 2px black;">
              My Account
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col">
        <ul>
          <li> Username: {{ user.username }}</li>
          <li> Email address: {{ user.email }}</li>
          {% if user.first_name %}
          <li> First name: {{ user.first_name }}</li>
          {% endif %}
          {% if user.last_name %}
          <li> Last name: {{ user.last_name }}</li>
          {% endif %}
          <li> Date joined: {{ user.date_joined }}</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- FIND THE FOLLOWING SECTIONS IN LEGACY.html -->

  {% endblock content %}
